Node-RED function.txt
[{"id":"cf281a67.d118a8","type":"blynk-ws-in-write","z":"cee0957c.663298","name":"","pin":"1","pin_all":0,"client":"c45837fc.e476c8","x":290,"y":160,"wires":[["b9766aed.135ee8"]]},{"id":"63186f35.55cc5","type":"mqtt out","z":"cee0957c.663298","name":"","topic":"node/wireless-lock:0/relay/0:0/state/set","qos":"","retain":"","broker":"e649966c.8c2af8","x":740,"y":160,"wires":[]},{"id":"b9766aed.135ee8","type":"function","z":"cee0957c.663298","name":"Bool parser","func":"if(msg.payload == 0)\n{\n    msg.payload = false;\n}\nelse\n{\n    msg.payload = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["63186f35.55cc5"]]},{"id":"c45837fc.e476c8","type":"blynk-ws-client","z":"","name":"Magnetic Lock","path":"ws://127.0.0.1:8080/websockets","key":"25247e3ce8684894a74092a367bba648","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":""},{"id":"e649966c.8c2af8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]