Node-RED function.txt
[{"id":"ea5f96af.f18f78","type":"blynk-ws-in-write","z":"323a0c00.0cb854","name":"","pin":"1","pin_all":0,"client":"c45837fc.e476c8","x":210,"y":220,"wires":[["6aea14d7.3fcc4c"]]},{"id":"c421a3c5.fde8c","type":"mqtt out","z":"323a0c00.0cb854","name":"","topic":"node/wireless-lock:0/relay/-/state/set","qos":"","retain":"","broker":"e649966c.8c2af8","x":660,"y":220,"wires":[]},{"id":"6aea14d7.3fcc4c","type":"function","z":"323a0c00.0cb854","name":"Bool parser","func":"if(msg.payload == 0)\n{\n    msg.payload = false;\n}\nelse\n{\n    msg.payload = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["c421a3c5.fde8c"]]},{"id":"c45837fc.e476c8","type":"blynk-ws-client","z":"","name":"Magnetic Lock","path":"ws://127.0.0.1:8080/websockets","key":"25247e3ce8684894a74092a367bba648","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":""},{"id":"e649966c.8c2af8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]